@import '../../common/styles/mixins';
.loading{
    width: 100px;
    height:100px;
    margin: 10px auto;
    position: absolute;
    top:50%;
    left:40%;
    @media(min-width:800px){
        top:45%;
        left:45%;        
    }
}