@import "../../common/styles/mixins";
header {
    background-color: var(--background-el);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
    .container {
        @include container;
    }
    h1{
        margin: 0;
        font-size: 18px;
    }
    .btn-toggle {
        background-color: var(--background-el);
        border: none;
        color: inherit;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 16px;
        @include width__Hight(120px,40px);
            
        position: relative;
        .sound{
            position: absolute;
            top:0;
            left:0;
            bottom: 0;
            height:0;
            // width:120px;
            @include width__Hight(120px,40px);
            // height: 10px;
            // z-index: 33;
            // background-color: aqua;
        }
    }
}